* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f0f;
  color: #ffff;
}

#mainL {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;

  display: grid;
  grid-template-columns: 20% auto;

  grid-template-rows: 3rem auto;
}

#navL {
  grid-column: 1/3;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
}

#searchC {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchC input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #282828;
  border-radius: 1rem;
  background-color: transparent;
}

#user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#user img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
#menu {
  padding: 0 1rem 0 0;
  grid-column: 1/2;
  grid-row: 2/3;
}

#menu .menu-item {
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

#menu .menu-item:hover {
  background-color: #282828;
}

#content {
  grid-column: 2/3;
  grid-row: 2/3;
}

#categoriesL {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#categoriesL .category {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #282828;
}
